<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
    <header th:fragment="top_header">
      <h2>Header</h2>
    </header>

    <nav th:fragment="side_bar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/products">Product</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <nav th:fragment="admin-side_bar">
        <ul>
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/products">Product</a></li>
        </ul>
    </nav>

    <footer th:fragment="footer">
      <p>Footer</p>
    </footer>
</body>
</html>